.one-post {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    width: 600px;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#posts-body {
    color: black;
}