.one-post {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    width: 600px;
    background-color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

#posts-body {
    color: black;
}

#text-area-post {
    width: 600px;
    /* height: 100px; */
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(231, 230, 230);
}

#make-post {
    border: 1px solid red;
    padding: 10px;
    background-color: white;
}

#create-post-button {
    margin-left: auto;
}

#edit-and-delete-buttons {
    display: flex;
    justify-content: flex-start;
}