#one-comment {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    width: 550px;
    height: 100px;
    background-color: rgb(231, 230, 230);
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: relative;
}

#comment-info {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

#comment-info h4 {
    margin: 0px;
}

#comment-body {
    color: black;
    padding-bottom: 20px;
}

#dropdown-container {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: #000;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#make-comment {
    /* border: 1px solid red; */
    width: 600px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
}

.comment-profile-pic {
    margin-right: 10px;
    border-radius: 50%;
    position: relative; 
    overflow: hidden;
    width: 30px;
}

#create-comment-button {
    margin-left: auto;
}

.comment-profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text-area-comment {
    width: 500px;
    height: 30px;
    border-radius: 8px;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(231, 230, 230);
}

#likes-counter-comment {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #1877f2;
}

#like-button-comment {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding-left: 0px;
}

#like-button-comment {
    display: flex;
    align-items: center;
}
  
#like-button-comment i {
    width: 30px;
    padding-top: 15px;
}
