body {
    background-color: #f0f2f5;
    margin: 0;
  }
  
  #login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  #left-content {
    width: 40%;
    padding: 20px;
  }
  
  #right-content {
    width: 30%;
    padding: 0px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
  }
  
  #left-content h1 {
    color: #1877f2;
    font-size: 45px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  #left-content p {
    font-size: 25px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  #login-button {
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    margin-bottom: 10px; /* Adjust as needed */
    width: 100%;
    border-radius: 4px;
    height: 50px;
  }

  /* Add to your existing CSS file */
  #demo-login-button {
    background-color: #42b72a; /* Green color, adjust as needed */
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 4px;
    height: 40px;
  }
  
  
  #right-content input {
    font-size: 17px;
    margin-bottom: 10px; /* Adjust as needed */
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(221, 216, 216);
  }

  .login-email-password input{
    height: 40px;
  }


  
  