body {
    background-color: #f0f2f5;
    margin: 0;
  }
  
  #login-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  #left-content {
    width: 40%;
    padding: 20px;
  }
  
  #right-content {
    width: 15%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px; /* Add margin to create space between #left-content and #right-content */
  }
  
  #left-content h1 {
    color: #1877f2;
    font-size: 45px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  #left-content p {
    font-size: 25px;
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  #login-button {
    background-color: #1877f2;
    color: white;
    font-size: 20px;
    margin-bottom: 10px; /* Adjust as needed */
    width: 100%;
    border-radius: 4px;
  }

  /* Add to your existing CSS file */
  #demo-login-button {
    background-color: #4caf50; /* Green color, adjust as needed */
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    width: 75%;
    border-radius: 4px;
  }
  
  
  #right-content input {
    font-size: 17px;
    margin-bottom: 10px; /* Adjust as needed */
    width: 100%;
    border-radius: 4px;
  }
  
  