div.search-dropdown {
    position:absolute;
    top: 50px;
    left: 2px;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: auto;
    box-shadow: 8px 8px 40px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    display:none;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #f8f8f8;
}

div.search-dropdown div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
}

div.search-dropdown ul{
    margin: 20px 0;
    padding: 0;
}

div.search-dropdown li{
    list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
}

div.search-dropdown li:hover {
    background-color: #e9e4e4;
    cursor: pointer;
}
  
div.search-dropdown li:active {
    background-color: #e5e5e5;
}

div.search-dropdown p {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
}

div.search-dropdown img {
    width: 32px;
    height: 32px;
    margin: 0 10px;
}


input#userSearch{
    width: 90%;
    height: 35px;
    border-radius: 20px;
    margin-left: 5px;
    background-color: #f0f2f5;
    border: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0 0 2px 35px;
  }
  
  input#userSearch:focus {
    outline: none;
  }

  input#userSearch:focus + div.search-dropdown {
    display: flex;
  }

  div.search-dropdown:hover{
    display: flex;
  }

  #magnify-icon{
    color: rgb(102, 99, 99);
    position: absolute;
    top: 17px;
    left: 70px;
    background:none;
  }
  